body {
  margin: 0;
  text-align: center;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 0;
  color: #fff;
  border-radius: 5px;
  background-color: green;
}

button.plus {
  margin-left: 10px;
  background-color: red;
  width: 100px;
}

button.minus {
  margin-left: 10px;
  background-color: green;
  width: 100px;
}
